info:
  profile: dev

server:
  port: 8006

spring:
  profiles:
    active: production

---
spring:
  profiles: cloud
  datasource:
#    url: jdbc:mariadb://192.168.1.165:3306/sia_cloud_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
#    url: jdbc:mariadb://192.168.1.166:3306/sia_service_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
    url: jdbc:mariadb://192.168.1.166:3306/sia_service_algorithm_v2_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
    username: root
    password: ww_siames2015,.
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
---
spring:
  profiles: production
  datasource:
    url: jdbc:mysql://rm-8vb7p49vn5y6uy887.mysql.zhangbei.rds.aliyuncs.com:3306/sia_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
    username: sia
    password: ww_siames2015
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
---
spring:
  profiles: dev
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:dbdev
    username: root
    password:
    driver-class-name: org.h2.Driver
---
spring:
  profiles: test
  datasource:
    url: jdbc:mariadb://192.168.1.8:3306/scorpion_service_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
#    url: jdbc:mariadb://192.168.1.8:3306/zqy_service_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
#    url: jdbc:mariadb://192.168.1.8:3306/sunke_service_algorithm_db?useUnicode=true&characterEncoding=utf8&mysqlEncoding=utf8
    username: root
    password: ww_siames2015,.
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
